*.swp
/node_modules
/.npm-updated
/.yarn-updated
/.node-path
/.yarn-path
*.vscode
/out
*.heapsnapshot
etc/config/*.local.properties
/nbproject
/package-lock.json
*.bundle*.js
*.map
static/dist
static/vs
